
#search{
    width: 600px;
    height: 25px;
    padding: 10px;
    border-radius: 10px;
    border-color: blak;
}

img{ 
    width: 300px;
    height: 300px;
}

.wrapper{
    text-align: center;

}

.container {

    
    display: flex;
    flex-wrap: wrap;
    margin: 50px;
    justify-content: center;
    
    
  }
  .items {
    
    flex: 1 400px;
    margin-top: 25px;
    margin-bottom: 25px;
  }